* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
  }


  body {
    background-size: cover;
    background-image: url('./Assets/Universal.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  } 

  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
  }

  .container {
    position: relative;
    width: 400px;
    height: 440px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .container::before,
  .container::after {
    content: "";
    position: absolute;
    width: 370px;
    height: 370px;
    animation: rotate 4s linear infinite;
  }

  .container::before {
    background-image: conic-gradient(transparent, transparent, transparent, #d400d4);
  }

  .container::after {
    background-image: conic-gradient(transparent, transparent, transparent, #00cfff);
    animation-delay: -2s;
  }

  @keyframes rotate {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .form-box {
    position: absolute;
    background: #0c1022;
    border-radius: 20px;
    z-index: 10;
    width: 380px;
    height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .form-box h2 {
    font-size: 25px;
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
  }
  .form-box h3 {
    font-size: 15px;
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
  }
  .input-box {
    position: relative;
    width: 310px;
    margin: 20px 0;
  }

  .input-box input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 0 10px;
    color: #fff;
    border-bottom: 1px solid #fff;
  }

  .input-box label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: 0.5s;
  }

  .input-box input:focus ~ label,
  .input-box input:valid ~ label {
    top: 0;
    font-size: 12px;
  }



  .sign-up {
    margin-top: 20px;
    color: #fff;
    font-size: 14px;
    text-align: center;
  }

  .sign-up a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
  }

  button {
    width: 100px;
    height: 40px;
    border-radius: 40px;
    background: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    color: #0c1022;
    font-weight: 500;
    margin-top: 30px;
    transition: background 0.3s, color 0.3s;
  }

  button:hover {
    color: #fff;
  }